/* Dreamer's SASS BANGEE GUM 2.0
/*Variables

\:root
  --bungee-gum:#ff004f

/*Fonts
@font-face
  font-family: 'EternalDream'
  src: url('../font/EternalDream.eot')
  src: url('../font/EternalDream.eot?#iefix') format("embedded-opentype"), url('../font/EternalDream.woff2') format("woff2"), url('../font/EternalDream.woff') format("woff"), url('../font/EternalDream.ttf') format("truetype"), url('../font/EternalDream.svg#EternalDream') format("svg")
  font-display: swap

@font-face
  font-family: 'EternalDreamSexy'
  src: url('../font/EternalDreamSexy.woff2') format("woff2")
  font-display: swap

/*

body
  box-sizing: border-box
  font-family: 'EternalDream'
  background-color: #000

/*NAVBARs

.navbar
  &:nth-child(1)
    display: none
    background-color: #212121
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0
    padding-top: 20px

  &:nth-child(2)
    background-color: #212121
    border-radius: 0 0 25px 25px
    border-bottom: 11px solid var(--bungee-gum)
    box-shadow: 0 8px 0 0 #795548
    font-family: 'EternalDreamSexy'
    padding-top: 0
    padding-bottom: 0

.navbar-brand
  font-size: 2em

.navbar:nth-child(2) .nav-link
  color: #9e9e9e
  transition: 120ms

  &:hover
    color: var(--bungee-gum)
    transform: scale(1.1)

  &.active
    color: #ffc107
    transform: scale(1.1)

.nav-item a
  color: #6f4e37
  font-size: 1.1em !important
  text-align: right

/*CONTAINERs

.container
  overflow: hidden
  background-color: #fff
  padding: 30px
  margin-top: 60px
  margin-bottom: 10px
  border-radius: 4px

.main_container
  background-color: #212121
  border-radius: 20px !Important
  font-family: 'EternalDreamSexy'

/*

/* TOOLTIP

.tooltip-inner
  background-color: #212121
  border: 2px solid var(--bungee-gum)
  border-radius: 10px
  font-family: 'EternalDreamSexy'

.tooltip-arrow::before
  border-top-color: var(--bungee-gum) !Important

.tooltip
  &.bs-tooltip-right .tooltip-arrow:before
    border-right-color: var(--bungee-gum) !important

  &.bs-tooltip-left .tooltip-arrow:before
    border-left-color: var(--bungee-gum) !important

  &.bs-tooltip-bottom .tooltip-arrow:before
    border-bottom-color: var(--bungee-gum) !important

  &.bs-tooltip-top .tooltip-arrow:before
    border-top-color: var(--bungee-gum) !important

/*

/*CARD

.fasil-text
  background-color: var(--bungee-gum)
  border-radius: 20px
  margin-top: 10px
  color: white
  padding: 5px

.card
  background-color: transparent
  border: none
  cursor: pointer
  transition: transform 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67)

  &:hover
    transform: scale(1.03)

.cardear
  color: white
  border-radius: 0 10px 0 5px
  position: absolute
  right: 4px
  top: 4px
  padding: 3px 3px 3px 5px
  min-width: 50px
  text-align: center

.thumb img
  border-radius: 20px

[data-src]::before
  content: ''
  display: block
  padding-top: 49.25%

/*

/*PAGINATOR

.paginator_wrapper
  text-align: center

.pagination
  display: inline-block
  text-align: center
  clear: both
  padding: 0
  padding-bottom: 50px

  li
    display: inline

    &:before
      display: none

  a
    float: right !important
    background-color: #060814
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 -1px 0, rgba(255, 255, 255, 0.3) 0 -1px 0
    color: white
    font-size: 14px
    font-weight: bold
    padding: 10px
    text-decoration: none
    margin: 2px
    transition: color 0.5s ease, background-color 0.5s ease

    &:hover, &:active
      color: #060814
      background-color: white

  span
    &.current
      float: right !important
      color: #060814
      background-color: white
      font-weight: bold
      font-size: 20px
      padding: 10px
      padding-top: 3px
      padding-bottom: 3px
      text-decoration: none
      margin: 2px

    &.disabled
      opacity: 0.5
      float: right !important
      border: 1px solid #9e9e9e
      color: #9e9e9e
      margin: 2px
      padding: 10px

@media only screen and (max-width: 768px)
  .pagnum a
    display: none

/*

/*FOOTER

.footer
  position: relative
  color: #999999
  border-top: 11px solid var(--bungee-gum)
  box-shadow: 0px -8px 0px 0px #060814
  border-radius: 25px 25px 0 0
  background-color: #060814
  font-family: 'EternalDreamSexy'
  margin-bottom: 0
  margin-top: 32px
  padding-bottom: 32px
  padding-top: 32px

.header_social, .jumbotron
  a
    padding-left: 10px
    color: rgba(255, 255, 255, 0.5)
    transition: transform 120ms

  i
    font-size: 1.5rem
    transition: transform 120ms

.fa-facebook-square:hover
  color: #4267B2
  transform: scale(1.5)

.fa-facebook-messenger:hover
  background: -webkit-linear-gradient(#00B2FF, #006AFF)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  transform: scale(1.5)

.fa-twitter-square:hover
  color: #1DA1F2
  transform: scale(1.5)

.fa-discord:hover
  color: #7289da
  transform: scale(1.5)

.fa-youtube:hover
  color: #FF0000
  transform: scale(1.5)

.fa-rss:hover
  background: -webkit-linear-gradient(#ff9800, #ff5722)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  transform: scale(1.5)

/*

/*Responsive youtube

.video-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden

  iframe, object, embed
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    max-width: 560px
    max-height: 314px
/*thebbana

.thebbana
  border-radius: 100vw 100vw 0 0

/*
